Source: ros-noetic-cob-collision-velocity-filter
Section: misc
Priority: optional
Maintainer: Felipe Garcia Lopez <flg@ipa.fhg.de>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-noetic-catkin, ros-noetic-cob-footprint-observer, ros-noetic-costmap-2d, ros-noetic-dynamic-reconfigure, ros-noetic-geometry-msgs, ros-noetic-nav-msgs, ros-noetic-roscpp, ros-noetic-tf, ros-noetic-tf2-ros, ros-noetic-visualization-msgs
Homepage: http://ros.org/wiki/cob_collision_velocity_filter
Standards-Version: 3.9.2

Package: ros-noetic-cob-collision-velocity-filter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-noetic-cob-footprint-observer, ros-noetic-costmap-2d, ros-noetic-dynamic-reconfigure, ros-noetic-geometry-msgs, ros-noetic-nav-msgs, ros-noetic-roscpp, ros-noetic-tf, ros-noetic-tf2-ros, ros-noetic-visualization-msgs
Description: The cob_collision_velocity_filter package is a package for collision avoidance using teleoperation.
